@font-face {
	font-family: 'CooperBlack';
	src: url('/fonts/COOPBL.TTF');
	font-weight: normal;
	font-style: normal;
}

html, body {
	margin: 0 !important;
	padding: 0 !important;
	width: 100% !important;
}